body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  font-family: sans-serif;
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  width: 90%;
  max-width: 300px;
}

.balance {
  font-size: 30px;
  color: green;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.deposit { background: #28a745; }
.deposit:hover { background: #218838; }

.withdraw { background: #dc3545; }
.withdraw:hover { background: #c82333; }
